{% extends "home.html" %}
{% block title %}Enter tickers{% endblock %}
{% block content %}
    <h1 class="title">Enter tickers  (max. 5, separator: ';')</h1>

    <form action="" method="post" name="ticker_form">
        <div class="field">
            <label for="title" class="label">Tickers</label>
            <div class="control">
                <input type="text" name="ticker" class="input" required="required"/>
                <select id="s" name="settl">
                    <option value="CDO">CDO</option>
                    <option value="24HS">24HS</option>
                    <option value="48HS">48HS</option>
                </select>
            </div>
        </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Send</button>
        </div>
      </div>
    </form>
{% endblock %}